**/y_val.npy
datasets.zip
mnist-data.pcl*
*-checkpoint.ipynb
Create_datasets_42.ipynb
**/14_mnist_cc_no/**
test.py
contributing.md
datasets/999_humans/humans/**
datasets2/999_humans/humans/**
datasets/mnist_embed_cdf/**
datasets2/mnist_embed_cdf/**
datasets/999_humans/y_val.txt
datasets2/999_humans/y_val.txt
.DS_Store


# To be commented:
# datasets2/**